{ % extends 'base2.html' %}

{% block head %}
<title>Scheduler</title>
{% endblock %}

{% block body %}
<div class ="content">
    <h2 style = "text-align: center"> Scheduler for driver </h2>
    {% if task|length < 1 %}
     <h3 style = "text-align: center">You need to create a task below</h3>
    {% else %}
    <table>
        <tr>
            <th>task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>
                <a href="/delete/{{task.id}}">delete</a>
                <br>
                <a href="/update/{{task.id}}">update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
        {% endif %}
        <div class = "form">
            <form action="/" method="POST">
                <input type ="text" name="content" id="content">
                <input type ="submit" value="Add Text">

            </form>
    </div>
</div>
{% endblock %}