body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}
#nbrand {
    padding: 0px;
    width: 200px;
}
#nav {

    margin-left: -200px;
    background-color: #495057;
}

#banner{
    background-image: url("./image/bg3.jpg");
    min-height: 500px;
    width: 100%;
}

#container {
  /* The image used */
  background-image: url("./image/bg7.jpg");

  /* Control the height of the image */
  min-height: 850px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#container1 {
  /* The image used */
  background-image: url("./image/bg5.png");

  /* Control the height of the image */
  min-height: 850px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#try{
  position: absolute;
  left: 150px;
  top: 250px;
  margin: 0px;
  max-width: 400px;
  padding: 16px;
  background-color: #ffffff00;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#try1{
  left: 150px;
  top: 250px;
  max-width: 100%;
  padding: 16px;
  background-color: #ffffff00;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#trick{
  position: absolute;
  margin: 0px;
  max-width: 400px;
  padding: 16px;
  background-color: #ffffff00;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #ffffff;
  opacity: 0.6;
}

select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #ffffff;
  opacity: 1;
}

#text{
    background: #ffffff00;
}

#btn{
    background: #339af0;
    text-decoration: black;
    border: 5 px;
    border-color: black;
    opacity: 0.6;
}

#btn:hover {
  opacity: 1;
}

footer{padding: 10px 0;
 background-color: #101010;
 color:#9d9d9d;
 bottom: 0;
 width: 100%;}
.content{min-height: 604px;}

input[type=text], input[type=date] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border-color: black;
  border-width: 1px;
  background: whitesmoke;
  opacity: 1;
}

td {
    padding-right: 60;
    margin-bottom: -2;
}

#rental{
    background-color: #ffffff00;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#rental{
    background-color: #ffffff00;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#product{
    height:140px;
    width:270px;
}

#book{
    width:60px;
}

.detail{
position: relative;
}