<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="./static/image/logo.ico">
  <!-- Bootstrap CSS -->
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" id="nav">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ url_for('login') }}" class="navbar-brand"><img src="./static/image/logo.png" alt="logo" style="" width="80" height="80"><b>  CARs FOREVER</b></a>

            </div>

                <ul class="nav navbar-nav navbar-right">
                    <!--<li> <a href="setting.php" > <span class="glyphicon glyphicon-user"></span> Setting</a></li>
                    <li><a href="logout.php"> <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>-->

                    <li> <a href="{{ url_for('signup') }}"> <span class="glyphicon glyphicon-user"></span> Sign up</a></li>
                    <li> <a href="{{ url_for('login') }}"> <span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                </ul>

        </div>
    </nav>
  {% for message in get_flashed_messages() %}
  <div class="container text-center">
    <div class="p-3 mb-2 bg-danger text-white">{{ message }}</div>
  </div>
  <br>
  {% endfor %}


  {% block main %}{% endblock %}
  <footer>
        <div class="container">
            <p style="text-align: center">
                Copyright © Cars Forever. All Rights Reserved | Contact Us: +91 90000 00000
            </p>
        </div>
  </footer>
</body>

</html>