{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block main %}

<div class="container-fluid content">
    <div class="row">
        <div class="col" id="banner">
            <div class="col-sm-6 col-lg-6 col" id="rental">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 col">
                        <div class="panel">
                            <div class="panel-heading"><center>Rentals</center></div>
                            <p><center>Rent a car and for days or hours</center></p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}