{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block main %}
<div class="container-fluid content" id="container">
            <div class="row">
                <div class="col-xs-12 col-xs-offset-0 col-" >
                    <div class="panel" id="try">
                        <div class="panel-heading"><center><b style="color:grey;">LOGIN</b></center></div><br>
                        <div class="panel-body">
                            <form method="post">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    <span style="color:white;">{{ form.userid.label }}</span><br>
                                    {{ form.userid(style="border: none; opacity: 0.6", class="form-control", id="userid", placeholder="User ID") }}
                                </div>

                                <div class="form-group">
                                    <span style="color:white;">{{ form.password.label }}</span><br>
                                    {{ form.password(style="border: none; opacity: 0.6", class="form-control", id="pass", placeholder="Password") }}
                                </div>
                                <br>
                                {{ form.submit(style="color: white;", id="btn", class="btn btn-block") }}
                                <br>
                                <p style="color:white;">Don't have an account, sign up now</p>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
</div>

{% endblock %}