{% extends 'base.html' %}

{% block title %}SIGN UP{% endblock %}

{% block main %}
       <div class="container-fluid content" id="container1">
           <form action="{{ url_for('signup1') }}" method="post" enctype="multipart/form-data">
                <div class="row" id="try1">
                    <div class="col-lg-12 col-sm-12 col" >
                        <div class="panel panel-primary" >
                            <div class="panel-heading"><center><b style="color:black;">NEW USER</b></center></div><br>
                            <p>Contact & User Details:</p>
                                <div class="panel-body">

                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    <span style="color:black;">{{ form.contact.label }}</span><br>
                                    {{ form.contact(style="border: none; opacity: 0.6", class="form-control", id="contact", placeholder="Contact Number") }}
                                </div>

                                <div class="form-group">
                                    <span style="color:black;">{{ form.email.label }}</span><br>
                                    {{ form.email(style="border: none; opacity: 0.6", class="form-control", id="email", placeholder="E-mail") }}
                                </div>

                                <div class="form-group">
                                    <span style="color:white;">{{ form.userid.label }}</span><br>
                                    {{ form.userid(style="border: none; opacity: 0.6", class="form-control", id="userid", placeholder="User ID") }}
                               </div>

                                <div class="form-group">
                                    <span style="color:white;">{{ form.password.label }}</span><br>
                                    {{ form.password(style="border: none; opacity: 0.6", class="form-control", id="pass", placeholder="Password") }}
                                </div>

                                <div class="form-group">
                                    <span style="color:white;">{{ form.password2.label }}</span><br>
                                    {{ form.password2(style="border: none; opacity: 0.6", class="form-control", id="pass2", placeholder="Re-type same password") }}
                               </div>

                                <br>
                                {{ form.submit1(style="color: black;", id="btn", class="btn btn-block") }}

                        </div>

                        </div>
                    </div>

                </div>
           </form>
       </div>

{% endblock %}