{% extends 'base.html' %}

{% block title %}SIGN UP{% endblock %}

{% block main %}
       <div class="container-fluid content" id="container1">
           <form action="{{ url_for('signup2') }}" method="post" enctype="multipart/form-data">
                <div class="row" id="try1">
                    <div class="col-xs-6 col-xs-offset-6" >
                        <div class="panel panel-primary" >
                            <div class="panel-heading"><center><b style="color:black;">NEW USER</b></center></div><br>
                            <p>Personal Details:</p>
                                <div class="panel-body">

                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    <span style="color:black;">{{ form.fname.label }}</span><br>
                                    {{ form.fname(style="border: none; opacity: 0.6", class="form-control", id="fname", placeholder="First Name") }}
                                </div>

                                <div class="form-group">
                                    <span style="color:black;">{{ form.lname.label }}</span><br>
                                    {{ form.lname(style="border: none; opacity: 0.6", class="form-control", id="lname", placeholder="Last Name") }}
                                </div>

                                <div class="form-group">
                                    <span style="color:white;">{{ form.add.label }}</span><br>
                                    {{ form.add(style="border: none; opacity: 0.6", class="form-control", id="add", placeholder="Enter Address") }}
                                </div>

                                <div class="form-group">
                                    <span style="color:white;">{{ form.city.label }}</span><br>
                                    {{ form.city(style="border: none; opacity: 0.6", class="form-control", id="city", placeholder="City") }}
                                </div>

                                <div class="form-group">
                                    <span style="color:white;">{{ form.pin.label }}</span><br>
                                    {{ form.pin(style="border: none; opacity: 0.6", class="form-control", id="pin", placeholder="Pincode") }}
                                </div>
                                <br>
                                {{ form.submit1(style="color: black;", id="btn", class="btn btn-block") }}

                        </div>

                        </div>
                    </div>

                </div>
           </form>
       </div>

{% endblock %}